@model Proyecto_INE.Models.Municipio

@{
    ViewBag.Title = "Monterrey";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="shortcut icon" href="~/Images/inne.ico">

    <link rel="shortcut icon" href="inne.ico" />
    <script language="JavaScript">
        var txt = "Instituto Nacional Electoral-INE-";
        var espera = 75;
        var refresco = null;
        function rotulo_title() {
            document.title = txt;
            txt = txt.substring(1, txt.length) + txt.charAt(0);
            refresco = setTimeout("rotulo_title()", espera);
        }
        rotulo_title();
    </script>
    <link rel="stylesheet" type="text/css" href="~/css/apodaca.css" />
</head>
<body>
    <div class="container">
        <nav>
            <input type="checkbox" id="nav" class="hidden">
            <label for="nav" class="nav-btn">
                <i></i>
                <i></i>
                <i></i>
            </label>
            <div class="logo">
                <img src="~/Images/map.jpg" width="150px">
            </div>
            <div class="nav-wrapper">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="Candidatos.html">Candidatos</a></li>
                    <li><a href="#">Estadisticas</a></li>
                    <li><a href="cuenta.html">Votar</a></li>
                </ul>
            </div>
        </nav>
    </div>


    <div class="mySlides fade">
        <table>
            <CAPTION>PROCESO ELECTORAL FEDERAL 2018-2019</CAPTION>
            <CAPTION>FEDERAL</CAPTION>
            <thead>
                <tr>
                    <th>Partido</th>
                    <th>Candidato</th>
                    <th></th>
                    <th>Votar</th>

                </tr>
            </thead>

            <from action="">

                <tr>
                    <td><img id="more" src="f/morena.jpg"></td>
                    <td>Esdras Yahir Lopez Quiroz</td>
                    <td> <img id="esd" src="f/esdrasvot.jpg"></td>
                    <td><input type="radio" name="gender" value="male"> Male<br></td>
                </tr>
                <tr>
                    <td><img id="tri" src="f/tri.jpg" width="50px"></td>
                    <td>Carlos Alberto Rodriguez Carrizales</td>
                    <td><img id="esd" src="f/carlos.jpg"></td>
                    <td><input type="radio" name="gender" value="male"> Male<br></td>
                </tr>
                <tr>
                    <td>INDEPENDIENTE</td>
                    <td>Jaime Rodriguez Calderon</td>
                    <td><img id="esd" src="f/bronco.jpg"></td>
                    <td><input type="radio" name="gender" value="male"> Male<br></td>
                </tr>
            </from>
        </table>

    </div>
    </div>

    <div class="mySlides fade">
        <table>
            <CAPTION>PROCESO ELECTORAL FEDERAL 2018-2019</CAPTION>
            <CAPTION>ESTATAL</CAPTION>

            <thead>
                <tr>
                    <th>Partido</th>
                    <th>Candidato</th>
                    <th></th>
                    <th>Votar</th>

                </tr>
            </thead>

            <from action="">

                <tr>
                    <td><img id="more" src="f/pan.jpg"></td>
                    <td>Jesus Alejandro Gomes Vargas</td>
                    <td> <img id="esd" src="f/esdras.jpg"></td>
                    <td><input type="radio" name="gender" value="male"> Male<br></td>
                </tr>
                <tr>
                    <td>INDEPENDIENTE</td>
                    <td>Edson Daniel Villareal Hernández</td>
                    <td><img id="esd" src="f/esdras.jpg"></td>
                    <td><input type="radio" name="gender" value="male"> Male<br></td>
                </tr>
                <tr>
                    <td><img id="more" src="f/pri.jpg"</td>
                    <td>Ricardo Esquivel Ramirez</td>
                    <td><img id="esd" src="f/esdras.jpg"></td>
                    <td><input type="radio" name="gender" value="male"> Male<br></td>
                </tr>
            </from>
        </table>

    </div>
    </div>

    <div class="mySlides fade">
        <table>
            <CAPTION>PROCESO ELECTORAL FEDERAL 2018-2019</CAPTION>
            <CAPTION>MUNICIPAL</CAPTION>

            <thead>
                <tr>
                    <th>Partido</th>
                    <th>Candidato</th>
                    <th></th>
                    <th>Votar</th>

                </tr>
            </thead>

            <from action="">

                <tr>
                    <td><img id="more" src="f/morena.jpg"></td>
                    <td>Fucsia Treviño Pagan</td>
                    <td> <img id="esd" src="f/esdras.jpg"></td>
                    <td><input type="radio" name="gender" value="male"> Male<br></td>
                </tr>
                <tr>
                    <td><img id="tri" src="f/tri.jpg" width="50px"></td>
                    <td>Bautista Salazar Acevedo</td>
                    <td><img id="esd" src="f/esdras.jpg"></td>
                    <td><input type="radio" name="gender" value="male"> Male<br></td>
                </tr>
                <tr>
                    <td>INDEPENDIENTE</td>
                    <td>Anisio Collazo Adame</td>
                    <td><img id="esd" src="f/esdras.jpg"></td>
                    <td><input type="radio" name="gender" value="male"> Male<br></td>
                </tr>
            </from>
        </table>

    </div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    </div>
    <br>

    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }

    </script>

    <a type="submit" value="Confirmar" href="#" class="button">Aceptar</a>


</body>
</html>

