@{
    ViewBag.Title = "Contáctanos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Para dudas o sugerencias acceda a cualquiera de los siguientes metodos de contacto<br />
    @*Redmond, WA 98052-6399<br />*@
    @*<abbr title="Phone">P:</abbr>
    425.555.0100*@
</address>

<address>
    <strong>Facebook:</strong>   <a href="https://www.facebook.com/Soporte-INE-338717200183925/">Soporte INE</a><br />
    <strong>E-mail:</strong> ayudaine@gmail.com<br />
</address>