* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
  
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font: bold 90% monospace;
    background: url(../Images/vota.jpg);
    background-position: center;
    background-size: cover;
}

nav {
    padding: 30px;
    background: #faf7f1;
}

.logo {
    float: left;
    padding: 8px;
    margin-left: 16px;
    margin-top: -35px;
}


nav ul {
    float: right;
}

    nav ul li {
        display: inline-block;
        float: left;
        margin-top: -15px
    }

        nav ul li:not(:first-child) {
            margin-left: 48px;
        }

        nav ul li:last-child {
            margin-right: 24px;
        }

        nav ul li a {
            display: inline-block;
            outline: none;
            color: #000;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 14px;
            letter-spacing: 1.2px;
            font-weight: 600;
        }

@media screen and (max-width: 864px) {
    .logo {
        padding: 0;
    }

    .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba(0, 0, 0, 0.7);
        opacity: 0;
        transition: all 0.2s ease;
    }

        .nav-wrapper ul {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
        }

            .nav-wrapper ul li {
                display: block;
                float: none;
                width: 100%;
                text-align: right;
                margin-bottom: 10px;
            }

                .nav-wrapper ul li:nth-child(1) a {
                    transition-delay: 0.2s;
                }

                .nav-wrapper ul li:nth-child(2) a {
                    transition-delay: 0.3s;
                }

                .nav-wrapper ul li:nth-child(3) a {
                    transition-delay: 0.4s;
                }

                .nav-wrapper ul li:nth-child(4) a {
                    transition-delay: 0.5s;
                }

                .nav-wrapper ul li:not(:first-child) {
                    margin-left: 0;
                }

                .nav-wrapper ul li a {
                    padding: 10px 24px;
                    opacity: 0;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 600;
                    letter-spacing: 1.2px;
                    transform: translateX(-20px);
                    transition: all 0.2s ease;
                }

    .nav-btn {
        position: fixed;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }

        .nav-btn i {
            display: block;
            width: 20px;
            height: 2px;
            background: #000;
            border-radius: 2px;
            margin-left: 14px;
        }

            .nav-btn i:nth-child(1) {
                margin-top: 16px;
            }

            .nav-btn i:nth-child(2) {
                margin-top: 4px;
                opacity: 1;
            }

            .nav-btn i:nth-child(3) {
                margin-top: 4px;
            }
}

#nav:checked + .nav-btn {
    transform: rotate(45deg);
}

    #nav:checked + .nav-btn i {
        background: #000;
        transition: transform 0.2s ease;
    }

        #nav:checked + .nav-btn i:nth-child(1) {
            transform: translateY(6px) rotate(180deg);
        }

        #nav:checked + .nav-btn i:nth-child(2) {
            opacity: 0;
        }

        #nav:checked + .nav-btn i:nth-child(3) {
            transform: translateY(-6px) rotate(90deg);
        }

#nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

    #nav:checked ~ .nav-wrapper ul li a {
        opacity: 1;
        transform: translateX(0);
    }

.hidden {
    display: none;
}


h1 {
    font-family: Poppins;
    font-weight: bold;
    color: black;
    font-size: 42px;
    text-transform: uppercase;
    padding: 0.4em 1em;
    position: absolute;
    top: 40%;
    left: 46%;
    transform: translate(-50%, -50%);
}

.rev-block {
    position: absolute;
}

    .rev-block span {
        opacity: 0;
        animation: appear-text 0.0001s linear forwards;
        animation-delay: 1.4s;
    }

    .rev-block:after {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        width: 0%;
        height: 100%;
        background: #FF1493;
        animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
        animation-delay: 1s;
    }

@keyframes rev-block {

    0% {
        left: 0;
        width: 0%;
    }

    50% {
        left: 0;
        width: 100%;
    }

    100% {
        left: 100%;
        width: 0%;
    }
}

@keyframes appear-text {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#onemore {
    top: 51%;
    left: 58%;
}

    #onemore span {
        animation-delay: 2s;
    }

    #onemore.rev-block:after {
        background: #FAEBD7;
        animation-delay: 1.4s;
    }

@media only screen and (max-width: 900px) {
    h1 {
        font-size: 20px;
        top: 45%;
        padding: 0.4em;
    }
}


.gr2{
    color:black;
    width:100%;
}


.centerrr {
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Helvetica, Arial, sans-serif;
    position: fixed;
    top: 54%;
    left: 50%;
    height: 90%;
    transform: translate(-50%,-50%);
    width: 28%;
    margin: auto;
    background-color: #FFF;
    color: white;
    padding: 30px;
    box-shadow: 0px 2px 8px 2px #555;
    border-radius: 6px;
    box-sizing: border-box;
}

